<div class="error-box">
            <p>{{error}}</p>
        </div>

    <section class="register-form-container">

        <form method="POST">
            <h3>Register</h3>
            <label>Email</label>
            <input type="email" name="email" class="box" value="{{email}}" id="">
            <label>Username</label>
            <input type="text" name="username" class="box" value="{{username}}" id="">
            <label>Password</label>
            <input type="password" name="password" class="box" value="{{password}}" id="">
            <label>Confirm Password</label>
            <input type="password" name="repPass" class="box" value="{{repPass}}" id="">
            <input type="submit" value="Register" class="btn">
            <p>Have an account ? <a href="/auth/login">Click here</a></p>
        </form>
    </section>
